<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ref-seek</title>
</head>
<body>
<div style="display:flex; justify-content:center"><h4>ref-seq API</h4></div>
<div style="display:flex; margin:10 10 10 10; justify-content:center;">
    <p style="width:50%; text-align:justify;">
        This 'ref-seek' API service allows users to retrieve the Reference Sequences using a MD5 checksum ID. Click
        <a href="http://localhost:5000/api/" target="_blank">HERE</a> to see instructions about using this API.
    </p>
</div>
<div style="display:flex; justify-content:center"><h4>Reference Sequence</h4></div>
<div style="display:flex; margin:10 10 10 10; justify-content:center;">
    <p style="width:50%; text-align:justify;">
        In terms of Genetics, Reference Sequence is a set of genetic instructions encoded in four
        deoxyribonucleotides 'A (adenine), T (Thymine), G (Guanine), C (Cytosine)' also called bases. The bases are
        held together by 'hydrogen bonds', and are arranged in sequence to make a DNA strand. Different sections of DNA
        strand carry instructions that are used by the cells to make macromolecules that are essential for all known
        forms of life. There are few publically available reference sequence databases that are annotated and curated
        by experts and can be used in Genetic Data Analysis.
    </p>
</div>
<div style="display:flex; justify-content:center"><h4>Why Reference Sequences are important?</h4></div>
<div style="display:flex; margin:10 10 10 10; justify-content:center;">
    <p style="width:50%; text-align:justify;">
        It is essential to use common standards as references throughout the scientific research community to report
        reproducible discoveries. Reference Sequences are standards for studying genetics in all forms of
        life. The genetic sequences generated in scientific experiments are compared against Reference Sequences of the
        organisms to study functions of genes and/or find anomalies that cause genetic diseases, and find ways to treat
        diseases caused by such anomalies.
    </p>
</div>
</body>
</html>